<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>Add User</h2>
          </div>
          <div class="card-body">
            <span id="duplicate" class="text-danger">
              <%= duplicateEmail %>
            </span>

            <form action="/admin/admin-addUser" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Add User</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    const errMsg = document.getElementById('duplicate')
    reload()

    function reload() {
      setTimeout(() => {
        errMsg.innerHTML = ''
      }, 4000)
    }
  </script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>