<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">
<link rel="stylesheet" href="/style.css">

<body>

	<div class="container" id="container">
		<div class="form-container sign-up">
			<form action="/signup" method="post">
				<h1>Create Account</h1>
				<input type="text" name="name" placeholder="Name" required="required">
				<input type="email" name="email" placeholder="Email" required="required">
				<input type="password" name="password" placeholder="Password" required="required">
				<button>SIGN UP</button>
			</form>
		</div>
		<div class="form-container sign-in">
			<form action="/login" method="post">
				<h1>LOG IN</h1>
				<input type="email" name="email" placeholder="Email" required="required">
				<input type="password" name="password" placeholder="Password" required="required">
				<button>LOG IN</button>
				<br>
				<h6 id="loginErrorMsg" style="color: red;">
					<p>
						<%= msg || logoutMsg %>
					</p>
				</h6>
			</form>
		</div>


		<div class="toggle-container">
			<div class="toggle">
				<div class="toggle-panel toggle-left">
					<h1>Welcome Back!</h1>
					<p>Enter your personal details to use all of site features</p>
					<button class="hidden" id="login">LOG IN</button>
				</div>
				<div class="toggle-panel toggle-right">
					<h1>Hello, Friend!</h1>
					<p>Register with your personal details to use all of site features</p>
					<button class="hidden" id="register">SIGN UP</button>
				</div>
			</div>
		</div>
	</div>

	<script src="script.js"></script>

	<script>
		const err = document.getElementById('loginErrorMsg')

		reload()

		function reload() {
			setTimeout(() => {
				err.innerHTML = ''
			}, 4000)
		}
	</script>
</body>

</html>