<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>Edit User</h2>
          </div>
          <div class="card-body">
            <form action="/admin/edit-user" method="post">
              <% if(user) { %>
                <%= console.log('===inside', user) %>
                  <span id="<span>" class="text-danger">
                    <%= duplicateEmail || userDataError%>
                  </span>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="user" class="form-control" name="name" placeholder="Username" 
                      value="<%= user.name%>" autocomplete="off" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email"
                      value="<%= user.email%>" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Edit User</button>
                  <% } %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    const errMsg = document.getElementById('duplicate')
    reload()

    function reload() {
      setTimeout(() => {
        errMsg.innerHTML = ''
      }, 4000)
    }
  </script>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>