.mainbody {
    background-color: #2f2c2c;
}

body {
    color: #fff;
    background: #867f7f;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;

}

.form-control {
    font-size: 15px;
}

.form-control,
.form-control:focus,
.input-group-text {
    border-color: #e1e1e1;
}

.form-control,
.btn {
    border-radius: 3px;
}

.loginandsignup {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.loginandsignup form {

    color: #c4bdbd;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #2f2c2c;
    box-shadow: 0px 2px 2px rgba(234, 224, 224, 0.3);
    padding: 30px;
}

.loginandsignup h2 {
    color: #395a29;
    font-weight: bold;
    margin-top: 0;
}

.loginandsignup hr {
    margin: 0 -30px 20px;
}

.loginandsignup .form-group {
    margin-bottom: 20px;
}

.loginandsignup label {
    font-weight: normal;
    font-size: 15px;
}

.loginandsignup .form-control {
    min-height: 38px;
    box-shadow: none !important;
}

.loginandsignup .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.loginandsignup .btn,
.loginandsignup .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d !important;
    border: none;
    min-width: 140px;
}

.loginandsignup .btn:hover,
.loginandsignup .btn:focus {
    background: #179b81 !important;
}

.loginandsignup a {
    color: #fff;
    text-decoration: underline;
}

.loginandsignup a:hover {
    text-decoration: none;
}

.loginandsignup form a {
    color: #19aa8d;
    text-decoration: none;
}

.loginandsignup form a:hover {
    text-decoration: underline;
}

.loginandsignup .fa {
    font-size: 21px;
}

.loginandsignup {
    font-size: 18px;
}

.loginandsignup .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}

#logout {
    border: 5px solid #fff;
    border-radius: 2rem;
    background-color: #131313;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

a:hover {
    color: #395a29;
}

.pricebutton {
    border-radius: 2rem;
    background-color: #fff9f9;
    border: 2px solid rgb(9, 9, 9);
    color: #000000;
    font-weight: bolder;
    height: 3rem;
    width: 7rem;
}

.nikeimages {
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
    width: 400px;
}

.welcome {
    color: #fff;
    font-weight: bolder;

}

.username {
    color: darkgrey;
    font-weight: bolder;
}

h2 {
    color: #5c5353;
    font-weight: bold;
    font-style: italic;
}